body {
    color: black;
    background-color: rgb(142, 142, 142);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.weekdays{
    font-size: 20px;    
    border: thin solid black;
    border-radius: 20px;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
ul,
ol {
    display: inline-block;
    text-align: left;
}
img {
    width: 800px;
    height: auto;
}
.nav img {
    width: 60px;
    height: 60px;
}
.nav.previous img {
    transform: rotate(0.25turn);
}
.nav.next img {
    transform: rotate(-0.25turn);
}